/* ========== Color Tokens ========== */
:root {
  /* Brand */
  --color-primary-deep: #3b3b3b;     /* 中間深藍 */
  --color-primary-border: #c8c8c8;   /* 淺藍邊框 */
  --color-btn-text-inverse: #ffffff; /* 文字白色 */

  --color-primary-deep-hover: #636363;
  --color-primary-border-hover: #e2e2e2;

  /* Surface */
  --color-surface: #ffffff;
  --color-surface-muted: #f8fafc;

  /* Border & Shadow */
  --color-border: #c2d3f4;

  /* Text */
  --color-text-main: #111827;
  --color-text-muted: #6b7280;
  --color-text-inverse: #ffffff;

  /* State */
  --color-disabled: #d1d5db;
}

/* ========== Radius Tokens ========== */
:root {
  --radius-sm: 0px;
  --radius-md: 0px;
  --radius-lg: 0px;
}

/* ========== Shadow Tokens ========== */
:root {
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.06);
  --shadow-md: 0 4px 10px rgba(0, 0, 0, 0.08);
}

/* ========== Button Tokens ========== */
:root {
  --btn-height: 36px;
  --btn-padding-x: 32px;
  --btn-font-size: 14px;
  --btn-font-weight: 500;
}

/* ========== Card Theme Tokens ========== */
:root {
  /* Red */
  --card-red-bg: rgb(198, 112, 112, var(--card-opacity));
  --card-red-border: #fca5a5;

  /* Orange */
  --card-orange-bg: rgba(235, 122, 62, var(--card-opacity));
  --card-orange-border: #fdba74;

  /* Yellow */
  --card-yellow-bg: rgba(217, 185, 0, var(--card-opacity));
  --card-yellow-border: #fde68a;

  /* Green */
  --card-green-bg: rgb(82, 188, 121, var(--card-opacity));
  --card-green-border: #86efac;

  /* Blue */
  --card-blue-bg: rgba(74, 124, 233, var(--card-opacity));
  --card-blue-border: #93c5fd;

  /* Gray */
  --card-gray-bg: rgb(83, 83, 83, var(--card-opacity));
  --card-gray-border: #d6d6d6;

   --card-opacity: 0.9; /* 統一調整所有 Card 背景透明度 */
}
